@import url('https://fonts.googleapis.com/css2?family=Macondo+Swash+Caps&family=Montserrat:wght@400;500&family=Poppins:wght@100;300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .navButton {
        @apply px-4 rounded-lg p-2 capitalize text-base md:text-xl text-white text-center bg-orange-400 font-poppins;
    }
}


/* @layer components {
    .formButton {
        @apply px-4 rounded-lg p-2 text-xl text-white bg-orange-400 font-poppins;
    }
} */

.slide-in-top {
    -webkit-animation: slide-in-top 1.5s both;
    animation: slide-in-top 1.5s both;
}


@-webkit-keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}